.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 50px;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navDiv{
  position: fixed;
  width: 100vw;
  background-color: whitesmoke;
  z-index: 1;
  user-select: none;
}

.sectionLink{
  text-decoration: none;
  display: inline;
  padding: 20px 10px;
  font-weight: 700;
  font-size: large;
}

.navList{
  padding-top: 15px;
  margin-top: 0;
  padding-left: 0;

}
.documentBody{
  margin: auto;
  max-width: 380px;
  text-align: justify;
}